body {
}

.container {
    margin: 0 auto;
    text-align: center;
    border: solid 3px black;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
    font-family: sans-serif;
    background-color: rgb(197, 102, 216);
}
